* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(30, 30, 30), black);
  padding: 20px;
}

section {
  height: 100%;
  width: 350px;
  background-color: black;
  border-radius: 10px;
  margin: auto;
}

.all-reels {
  height: 100%;
  width: 100%;

  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
  display: none;
}

.reel {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: lightseagreen; */
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.reel video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reel .bottom {
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.948));
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.bottom .user img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom .user h4 {
  font-size: 15px;
  font-weight: 500;
}

.bottom .user button {
  background-color: transparent;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid white;
}

.bottom > h3 {
  font-weight: 500;
  font-size: 20px;
}


.right {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  text-align: center;
  width: 40px;
  position: absolute;
  right: 0;
  /* height: 100%; */
  /* transform: translateX(100%); */
  bottom: 12%;
  /* background: linear-gradient(to right, transparent,rgba(0, 0, 0, 0.284)); */
}

.right h4{
  cursor: pointer;
}
.right i {
  font-size: 25px;
  font-weight: 500;

}

.right h6 {
  font-size: 15px;
  font-weight: 500;
}

.right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
}

.love{
  color: red;
}

.like-icon i {
  transition: transform 0.15s ease;
}

.like-icon i:active {
  transform: scale(1.3);
}

.right > div h4{
  pointer-events: none;
}

.right > div h6{
  pointer-events: none;
}


.mute{
  background-color: #333;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

}
.mute i {
  font-size: 20px;
  pointer-events: none;
}
.mute:active{
  scale: 0.95;
}

.play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.reel.paused .play-pause {
  opacity: 1;
}

.play-pause i {
  color: white;
}
